.page-header .logo {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-contents {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 50px;
}

.page-title {
  text-align: center;
}

.page-title h1 {
  font-weight: 700;
  padding-bottom: 30px;
}
.page-title.thanks h1 {
  padding-bottom: 0;
}
.page-footer {
  text-align: center;
  padding-top: 35px;
}
.faq-item {
  margin-top: 30px;
}

@media (min-width: 0px) and (max-width: 767.98px) {
  .page-contents {
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px 10px;
  }
  .page-header .logo {
    margin-left: 25px;
  }
  .page-title h1 {
    font-size: 1.75rem;
  }
  .page-title h3 {
    font-size: 1.25rem;
  }
}